* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
	margin-top: 60px;
	margin-left: 160px;
	margin-right: 160px;
	background-color: lightgrey;
	font-family: 'Abel', sans-serif;
}
.container{
	background-color: white;
	padding: 33px;

}
.nav-wrapper{
	border-bottom: thin solid gray;
	line-height: 38px;
}
.nav-wrapper h1{
	position: absolute;
	left: -9999px;
}

.nav-wrapper ul{
	list-style: none;
	display: inline-block;
}
.nav-wrapper li{
	display: inline-block;
	margin: 0 15px;
	font-size: 12px;
}
.active div{
	display: inline-block;
}
.nav-wrapper .logo a{
	color: white;
	background-color: black;
	size:22px;
	display: block;
	width:40px;
	height: 40px;
	text-align: center;
}
.nav-wrapper a{
	color:black;
	text-decoration: none;
	width: 39px;
	height: 39px;

}
.search-wrapper input[type=text]{
width: 110px;
height:30px;

}
.searchbtn {
	width: 30px;
	height:30px;
	background-color: white;
	display: inline-block;
	border:none;
}
.slider-wrapper{
	text-align: center;
	margin-top: 150px;
	font-family: 'Titillium Web', sans-serif;

}
.slider-wrapper h1{
	text-transform: uppercase;
	font-size: 60px;
	color:dark-gray;
}
.slider-wrapper p {
	font-size: 20px;
	color:dark-gray;
}
.control{
	text-align: right;
}
.a-wrapper {
	border:thin solid black;
	background-color: white;
	width: 224px;
	height:58px;
	margin: 0 auto;
	margin-top: 80px;
}
.a-wrapper a{
	text-decoration: none;
	line-height: 58px;
	color:black;
}
.tiles{
	margin-top: 150px;
}
.tile-wrapper div{
	display: inline-block;
	width:25%;
	text-align: center;
}
.column-1 div{
	display: block;
	background-color: lightgray;
	width: 100%;
}
.column-2 div{
	display: block;
	background-color: darkgray;
	width: 100%;
}
.column-3 div{
	display: block;
	background-color: darkgray;
	width: 100%;
}
.column-4 div{
	display: block;
	background-color: darkgray;
	width: 100%;
}
.big-tile{
	display: block;
	height:590px;
}
.small-tile{
	display: block;
	height: 295px;	
	background-color: darkgray;
}
.aside-wrapper{
	text-align: center;
	margin-top: 142px;
	font-family: 'Titillium Web', sans-serif;
}
.aside-wrapper h1{
	text-transform: uppercase;
}
.aside-wrapper h3{
	font-size: 16px;
}
.aside-wrapper form{
	margin-top: 57px;
	display: inline-block;

}
.aside-wrapper input[type=text]{
	width:475px;
	height: 56px;	
	padding-left: 14px;
	color:gray;
	font-size: 14px;
}
.aside-wrapper input[type=submit]{
	width: 96px;
	height: 62px;
	border:none;
	background-color: orange;
}
.footer-wrapper{
	margin-top: 40px;
}
.footer-wrapper div{
	display: inline-block;
	width:22%;
}
.footer-wrapper h4{
	text-transform: uppercase;
}
.column{

}
.footer-wrapper li{
	list-style: none;

}
.breadcrumbs{
	margin-top:10px;
}
.breadcrumbs ul{
	list-style: none;
	display: inline-block;
}
.breadcrumbs li{
	display: inline-block;
}
.breadcrumbs a{
	text-decoration: none;
	text-transform: uppercase;
	color:black;
	font-size: 12px;
}
.breadcrumbs a::before{
	content: " / ";
}
.products-wrapper h2{
	text-align: center;
	text-transform: uppercase;
}
.products-wrapper{
	margin: 0px auto;
	padding-top: 40px;
}
.products-wrapper .more{
	text-align: center;
}
.more a{
	text-decoration: underline;
	color: gray;
	font-style: italic;
}

.product-container{
	margin-top: 60px;
	display: inline-block;
	width:22%;
	text-align: center;
}
.product-image{
	height:200px;
	width:150px;
	border: thin solid gray;
	margin: 0 auto;

}
.shopping-bag-wrapper{
padding-top:50px;
text-align: center;
}
.shopping-bag-wrapper h1{
	text-transform: uppercase;
}
.shopping-bag-wrapper p{
	font-style: italic;
}
.shopping-list-title {
list-style: none;
display: inline-block;
text-transform: uppercase;
padding-top: 50px;
padding-bottom: 10px;
border-bottom: thin solid gray;
}
.shopping-list-title li{
	display: inline-block;
	font-size: 13px;
	color:gray;
	margin: 0 30px;
}
.item-discreption{
	list-style: none;
	display: inline-block;
	border-bottom: thin solid gray;
}
.item-discreption li{
	display: inline-block;
	margin: 0 25px;

}
.item-discreption  input[type=number]{
width: 30px;
height:30px;
}
.total-wrapper{
	background-color: lightgray;
	text-align: right;

}
.total-wrapper p{
	display: inline-block;
}
.total-price{
	margin-right: 40px;
}
.item-discreption a{
	text-decoration: none;
	color:black;
}
.shipping-wrapper{
	padding-top: 90px;
}
.shipping-wrapper h1{
	text-transform: uppercase;
	text-align: center;
}
.shipping-wrapper p{
	text-align: center;
}
.form-wrapper {
	padding-top: 60px;
	text-transform: uppercase;
	color: gray;
	width:50%;
	margin: 0 auto;
}
.form-wrapper input, label {
    display:block;
}
.field input {
	display: inline;
	margin:0 auto;
}
.form-wrapper form{
}
.short input[type=text]
{	
	width:250px;
	 border: solid 2px #c9c9c9;
	 margin-right: 60px;
}
.payment-wrapper{
margin-top: 90px;
text-align: center;
}
.payment-wrapper h1{
	text-transform: uppercase;
}
.total-shipping-wrapper {
	margin-top: 50px;
}
.total-shipping-wrapper input[type=submit]{
	width: 126px;
	height: 52px;
	border:none;
	background-color: orange;
	text-transform: uppercase;
	color: white;
}